@font-face {
    font-family: 'dinpro';
    src: url('./dinpro/DinPro.woff') format('woff');
}

@font-face {
    font-family: 'open-sans';
    src: url('./open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'open-sans-light';
    src: url('./open-sans/OpenSans-Light.ttf') format('truetype');
}
