.icon-event{
	width: 36px;
	height: 36px;
}

.collapsibleList{
    font-family: Tahoma;
    font-size: 14px;
}

.collapsibleList li{
    
}

.list-array{
    font-weight: bold;
    position: relative;
    left: 10px;
    cursor: pointer;
    list-style-type: none;
}



.list-item{
    font-weight: normal;
    position: relative;
    left: 15px;
    cursor: default;
    list-style-type: circle;
}
   
.collapsibleList input[type='checkbox']{
    display: inline-block;
    position: absolute;
    top: 4px; left: 0;
    width: 13px;
    height: 13px;
}

.list-attribute{
    font-weight: bold;
    position: relative;
    display: inline;
    cursor: default;
    left: 15px;
    list-style-type: none;
    clear: none;
}


/******************************/


.box-descricao, .settings, .caixa-experimento{
    position: absolute;
    display: none;
    width: 600px; height: 400px;
    top: 100px; left: calc(50vw - 300px);
    box-shadow: 0 8px 8px #ccc;
    border-left: 1px solid #ccc;
    z-index: 100;
    background: #fff;
}

.box-descricao .titulo, .settings .titulo, .caixa-experimento .titulo{
    position: absolute;
    left: 0; top: 15px;
    min-width: 120px; height: 20px;
    padding: 4px 8px;
    background: #000;
    font-family: DinPro;
    text-transform: uppercase;
    
    color: #fff;
}

.box-descricao .content, .settings .content, .caixa-experimento .content{
    background: #fff;
    position: absolute;
    padding: 25px 15px;
    top: 50px;
    overflow-y: scroll;
    width: calc(100% - 30px); height: calc(100% - 100px);
    border-top: 1px solid #ccc;
    
    font-size: 14px;
    font-family: Tahoma;
    
}

.box-descricao .close, .settings .close, .caixa-experimento .close{
    background: #000;
    color:#fff;
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 25px; vertical-align: middle;
    text-align: center;
    /*border-radius: 50%;*/ 
    cursor: pointer;
    font-family: sans-serif;
    width: 25px; height: 25px;
}

/**
*/

.box-item{
    border-bottom: 1px solid #ccc; 
}

.box-item:last-child{
    border-bottom: 0;
}


/*
    Settings
*/
.settings input[type='radio'] {
    margin-right: 3px;
    margin-left: 7px; 
    cursor: pointer;
}

.settings p {
    display: inline;
}