.mouse-box {
	position: absolute;
	display: block;
	top: 100px;
	left: 0;
	width: 40px;
	height: auto;
	background: #fff;
	line-height: 30px;
	text-align: center;
	box-shadow: 0 0 6px #ccc;
	padding: 0 0 8px 0;
	z-index: 15;
}

.mouse-box .box-item {
	position: relative;
	font-size: 23px;
	padding: 3px 2px 3px 0;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}

.box-item:hover {
	background: #000;
	color: #fff;
}

.sub-menu {
	display: none;
	border-top: 2px solid #000;
	position: absolute;
	text-align: justify;
	top: 0;
	left: 40px;
	width: 160px;
	height: auto;
	box-shadow: 0 0 6px #ccc;
	z-index: 180;
	padding: 5px 10px;
	background: #fff;
}

.box-item:hover.box-item>.sub-menu {
	display: block;
}

.item-context {
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #000;
	border: 1px solid #fff;
}

.item-context:hover {
	border: 1px solid #ccc;
	border-radius: 3px;
}

.mouse-icon {
	position: fixed;
}

/***************************************
****************************************
****************************************/

.painel-lateral {
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
	width: 250px;
	height: 100vh;
	padding: 20px 10px;
	box-shadow: 0 0 8px #ccc;
}

.painel-lateral .button {
	position: absolute;
	top: 20px;
	left: -18px;
	background: #000;
	color: #fff;
	line-height: 30px;
	vertical-align: middle;
	font-size: 12px;
	text-align: center;
	width: 15px;
	height: 30px;
	cursor: pointer;
}

.painel-lateral .nome {
	padding: 5px 12px;
	height: 40px;
	color: #000;
	border-bottom: 1px solid #ccc;
	font: 20px DinPro;
}

.painel-lateral .nome p {
	text-transform: uppercase;
	line-height: 40px;
	vertical-align: middle;
}

.painel-lateral label {
	display: block;
	margin-top: 15px;
	font: 14px Tahoma;
	margin-bottom: 3px;
	margin-left: 10px;
}

.painel-lateral input {
	padding: 3px 5px;
	height: 35px;
	width: 150px;
}

.painel-lateral>.options>p {
	position: relative;
	text-align: center;
	top: 20px;
	font: 14px Tahoma;
}

.painel-lateral .button-save {
	position: relative;
	display: none;
	background: #fff;
	color: #000;
	text-transform: uppercase;
	border: 1px solid #000;
	font: 14px DinPro;
	padding: 5px 10px;
	top: 40px;
	left: 110px;
	cursor: pointer;
}

.painel-lateral .button-save:hover {
	background: #000;
	color: #fff;
}

/**********************
************************/

.context-menu {
	display: block;
	position: absolute;
	width: 180px;
	height: auto;
	background: #fff;
	box-shadow: 0 0 8px #ccc
}

.context-menu li {
	font: 12px Tahoma;
	line-height: 26px;
	vertical-align: middle;
	text-align: justify;
	list-style: none;
	color: #000;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	padding: 3px 10px;
}

.context-menu li:hover {
	background: #000;
	color: #fff;
}

.menu-experimento {
	position: relative;
}

.menu-experimento ul {
	display: none;
	position: absolute;
	top: 0;
	left: 180px;
	box-shadow: 0 0 8px #ccc;
}



.menu-experimento:hover.menu-experimento ul {
	display: block;
}

.menu-experimento li {
	width: 180px;
	background: #fff;
}

/**
 * 
 * Caixa de experimento
 */

.caixa-experimento li {
	margin: 3px 5px 3px 25px;
	cursor: pointer;
}

.caixa-experimento li:hover {
	text-decoration: underline;
}

.caixa-experimento textarea {

	font: 12px Tahoma;
	padding: 5px 3px;
}

/**
 *
 * Blocos formulario
 *
 */

[class*="block-"] {
	display: none;
	padding: 10px 15px;
}

[class*="block-"] input, [class*="block-"] textarea, [class*="block-"] select {
	display: block;
	position: relative;
	margin-bottom: 8px;
	margin-top: 4px;
}

[class*="block-"] input[type='text'], [class*="block-"] input[type='email'], [class*="block-"] input[type='date']   {
	padding: 3px 6px;
}



/**
 * Botão
 *
 */

.btn {
	/*position: relative;*/
	display: block;
	background: #fff;
	color: #000;
	text-transform: uppercase;
	border: 1px solid #000;
	font: 14px DinPro;
	padding: 5px 10px;
	cursor: pointer;
}

.btn:hover {
	background: #000;
	color: #fff;
}