* {
	padding: 0; margin: 0;
}

body {
	overflow-y: hidden; overflow-x: hidden;
}


.main-bar {
	position: fixed;
	display: block;
	background: #fff;
	width: 400px; height: 45px;
	padding: 0 20px;
	box-shadow: 0 0 6px #ccc;
	z-index: 100;
}

.main-title {
	display: inline-block;
	float: left;
	font: bold 20px dinpro;
	text-transform: uppercase;
	line-height: 44px;
	margin: 0 10px;
	padding: 0 6px;
}

.main-title:before{
	content: '\e831';
	font: 20px bpmn;
	display: inline-block;
	text-align: center;
	line-height: 45px;
	margin-right: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.drop-menu {
	display: inline-block;
	position: relative;
	float: left; clear: both;
	font-family: dinpro;
	font-weight: bold;
	text-transform: uppercase;
	height: 45px; width: 45px;
	text-align: center;
	line-height: 45px;
	margin: 0 15px;
	z-index: 1300;
}

.drop-menu .rect{

	width: 25px; height: 4px;
	margin: 4px 10px;
	background: #000;
}

.drop-menu .rect:first-child{
	margin-top: 13px;
}

.drop-menu li {
	list-style: none;
	line-height: 30px;
	width: 100px;
	padding: 1px 20px;
	text-align: justify;

	border-bottom: 1px solid #ccc;
}

.submenu{
	display: none;
}

.drop-menu li:hover{
	background: #000;
	cursor: pointer;
	color: #fff;
}

.drop-menu .item:hover.drop-menu.item.submenu{
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.drop-menu > ul {
	display: none;
	position: absolute;
	top: 45px; left: -15px;
	width: 140px;
	background: #fff;
	border-top: 2px solid #000;
	box-shadow: 0 0 6px #ccc;
}

.drop-menu:hover.drop-menu .menu{
	display: block;
	z-index: 200;
}

.drop-menu:hover{
	background: #000;
}

.drop-menu:hover.drop-menu .rect{
	background: #fff;
}